*{
    margin: 0;
    padding: 0;
}

html, body{
    background-color: #F9F9F9;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    min-height: 100vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 6px solid hotpink;
    padding-top: 0.2em;
}

.logo{
    border: 2px solid rebeccapurple;
}

.menu{
    border: 2px solid rebeccapurple;
    
}

.menu ul{
    margin: auto;
    list-style-type: none;
    display: flex;
    justify-content: end;
}

.menu a{
    display: block;
    padding: 8px;
    color: coral;
    text-decoration: none;
}

/* .topic-filters{
    display: flex;
}

.topic{
    /* border: 3px solid red; */
    padding: .8em 2.5em;
    margin: 2em;
    border-radius: .45em;
    background-color: rgb(228, 227, 227);
}

.topic > h3{
    font-weight: 200;
}

    .topic > h3:hover{
        font-weight: 400;
        color: coral;
    }
 */
